*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    // SimSun
    font-family: SimSun;
}
body{
    font-size: 14px;
}