* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    // SimSun
    // font-family: "ui-sans-serif", "Songti TC", "HarmonyOS Sans SC-Bold";
    // font-weight: ;
    // font-size: 14px;
    // color: var(--main-color-1);
    transition: all 0.3s;
}
html {
    font-size: 14px;
}
@media screen and (max-width: 960px) {
    html {
        font-size: 12px;
    }
}

@font-face {
    font-family: "Songti TC";
    src: url("/assets/songti-tc-regular.ttf");
}
@font-face {
    font-family: "HarmonyOS Sans SC-Bold";
    src: url("/assets/HarmonyOS_Sans_SC_Bold.ttf");
}
.font-Songti {
    font-family: "Songti TC" !important ;
}
.font-HarmonyOS {
    font-family: "HarmonyOS Sans SC-Bold" !important ;
}
:root {
    --main-color-1: #131313;
    --main-color-2: #ffffff;
    --main-color-3: #f5f1ec;
    --main-color-4: #84827f;

    --aux-color-1: #6f0e19;
    --aux-color-2: #bf8f5f;
    --aux-color-3: #3b2c4d;
    --aux-color-4: #eccfaa;
    --aux-color-5: #ce7f76;
    --aux-color-6: #20785b;

    --el-color-primary: var(--main-color-1);
    --el-dropdown-menuItem-hover-fill: #ccc !important;
}

:root:root {
    // --van-button-primary-background: red;
    --van-switch-on-background: var(--main-color-1);
}
